<h1>Listing parts</h1>

<table>
  <thead>
  <tr>
    <th>Part</th>
    <th>Rate</th>
    <th>Std people</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @parts.each do |part| %>
      <tr>
        <td><%= part.part_id %></td>
        <td><%= part.rate %></td>
        <td><%= part.std_people %></td>
        <td><%= link_to 'Show', part %></td>
        <td><%= link_to 'Edit', edit_part_path(part) %></td>
        <td><%= link_to 'Destroy', part, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Part', new_part_path %>
