<div class="container-fluid">
<h1>Listing jobs</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Job</th>
      <th>Priority</th>
      <th>Quantity</th>
      <th>Date due</th>
      <th>Part</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.job_id %></td>
        <td><%= job.priority %></td>
        <td><%= job.quantity %></td>
        <td><%= job.date_due %></td>
        <td><%= job.part_id %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= @results %>

<br>

<%= link_to 'New Job', new_job_path %>
</div>