<div class="container-fluid">
  <h1>Listing jobs</h1>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Job</th>
      <th>Priority</th>
      <th>Quantity</th>
      <th>Date due</th>
      <th>Part</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @jobs.each do |job| %>
        <tr>
          <td><%= job.job_id %></td>
          <td><%= job.priority %></td>
          <td><%= job.quantity %></td>
          <td><%= job.date_due %></td>
          <td><%= job.part_id %></td>
          <td><%= link_to 'Show', job %></td>
          <td><%= link_to 'Edit', edit_job_path(job) %></td>
          <td><%= link_to 'Destroy', job, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <h2>Job schedule planner</h2>

  <form class="form-inline" action="/jobs" method="get">
    <div class="form-group">
      <label>Check if you can schedule a job:&nbsp;</label>
      <input type="text" id="search" name="search" class="form-control" placeholder="enter a number 1-3"></input>
    </div>
    <button type="submit" class="btn btn-primary">Check</button>
  </form>
  <br>
  <h4>Output</h4>

  <p><%= @results2 %></p>
  <br>
  <% @results.each do |result| %>
      <p><%= result %></p>
  <% end %>
  <br>

  <%= link_to 'New Job', new_job_path %>
</div>